name: CI Workflow

on:
  pull_request:
    branches:
      - master

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "gradle"

      - run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

#      - name: Run instrumented tests
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          api-level: 34
#          target: google_apis
#          arch: x86_64
#          script: ./gradlew connectedAndroidTest

      - name: Build with Gradle
        env:
          GRADLE_OPTS: "-Xmx4g -XX:MaxMetaspaceSize=512m"
        run: |
          ./gradlew assembleDevDebug \
            -x test \
            --no-daemon \
            --stacktrace
